<div class="chunk">
  <h4 class="chunk-name"><%= chunk.name %></h4>
  <p class="chunk-description"><%= chunk.description %></p>
  <div class="chunk-content">
    <textarea id="code-<%= chunk.id %>">
<%- chunk.content %>
    </textarea>
  </div>
  <div class="chunk-controls">
    <div class="small button-group">
      <button class="button chunk-copy"
              data-clipboard-target="#code-<%= chunk.id %>">Copy</button>
      <button class="button chunk-edit"
              data-edit-target="<%= chunk.id %>">Edit</button>
      <button class="button chunk-view"
              data-view-target="<%= chunk.id %>">View</button>
    </div>
  </div>
</div>
